<!DOCTYPE html>
<html>
<head>
    <%- include('../components/site-head.no.ejs', cv.seo.en) %>
    <link rel="stylesheet" href="./css/app.css">
</head>
<body>
<div class="site-wrapper">
    <a href="./index_cn.html" class="link-to-another-language">若需查看中文简历，<span class="print-no">请点击此处</span><span class="screen-no">请访问链接"http://www.orzzone.com/projects/html5-cli/htmls/cv/index_cn.html"</span>。</a>
    <%- include('./components/site-header.no.ejs', cv.pageHeader.en) %>
    <article class="site-content">
        <%- include('./components/profile.no.ejs', cv.profile.en) %>
        <%- include('./components/skills.no.ejs', cv.skills.en) %>
        <%- include('./components/projects.no.ejs', cv.projects.en) %>
        <%- include('./components/jobs.no.ejs', cv.jobs.en) %>
    </article>
</div>
</body>
</html>
