<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= title %></title>
<meta name="description" content="<%= description %>">
<meta name="keywords" content="<%= keywords.join(',') %>">
<meta name="author" content="<%= author %>" />
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="<%= icon %>" type="image/x-icon">
<link rel="stylesheet" href="./css/app.css?v=<%= versionDate %>" inline>
<% optimization.dnsPrefetch.forEach((dns) => { %>
    <link rel="dns-prefetch" href="<%= dns %>">
<% }) %>
